.crypto-ticker-container {
  margin-top: 2rem;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticker-item {
  margin-right: 20px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

span {
}

.ticker-item.active {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 600px) {
  .ticker-item {
    margin-top: 1rem;
    margin-right: 10px;
    font-size: 12px;
  }
}
